// Sassy

body{
  font-family: 'Oswald-Variable', "Oswald-Regular", sans-serif;
  background: #FFFCF2;
}

.custom-grid {
  grid-template-rows: auto 1fr 1fr;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .no-print {
    display: none;
  }
}