@font-face {
  font-family: 'Oswald-Variable';
  src: asset-url('Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald-Regular';
  src: asset-url('Oswald-Regular.ttf') format('truetype');
}

body{
  font-family: 'Oswald-Variable', "Oswald-Regular", sans-serif;
  background: #FFFCF2;
}

.custom-grid {
  grid-template-rows: auto 1fr 1fr;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .no-print {
    display: none;
  }
}
  